body {
    background-color: #000000;
    box-sizing: border-box;
} 

.navbar {
    background-color: rgb(0, 0, 0);
    border-bottom: grey 0.3px solid;
}


.bi {
    color: white;
}
.nav-icon {
    font-size: 10px;
}

.spacer {
    width: 100%;
    height: 1px;
    background-color: grey;
    margin-top: 33px;
}

h4 {
    margin-top: 33px;
}




