body {
    background-color: #000000;
    box-sizing: border-box;
    color: #fff
} 

.navbar {
    background-color: rgb(0, 0, 0);
    border-bottom: grey 0.3px solid;
}


.bi {
    color: white;
}
.bi {
    cursor: pointer;
}


.spacer {
    width: 100%;
    height: 1px;
    background-color: grey;
    margin-top: 10px;
    margin-bottom: 33px;
}

nav {
    color: white;
}
p {
    color: white;
}

#exampleModalLabel {

    color: black;
}

