body {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
} 

.navbar {
    background-color: rgb(0, 0, 0);
    border-bottom: grey 0.3px solid;
}


.bi {
    cursor: pointer;
}


.spacer {
    width: 100%;
    height: 1px;
    background-color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
}




